# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Environments
.env
.agent/
.venv/
env/
venv/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

temp/
tools/
cache/